*{
    margin: 0;
    padding: 0;
    outline: 0;
    
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
  font-family: "ARIAL";
    
}
.tabla{
   
    width: 60%;
    height: 100vh;
    float: right;
   
}
.form{
    margin-top: 2rem;
    width: 35%;
    float: left;
    text-align: center;
    align-items: center;
    
}
.form1{
    border: 1px solid #c8d6e5;
    border-radius: 5px;
    width: 350px;
    height: 320px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form1 h4{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form1 input{
    margin-bottom: 1rem;
    border: 1.5px solid #c8d6e5;
    width: 80%;
}
.form1 .label{
 width: 100%;
 display: flex;
}
.form1 .label label{
    text-align: left;
    margin-left: 2.2rem;
}
.form1 button{
  width: 80%;
  height: 40px;
  background: #009432;
  color: aliceblue;
  font-weight: bold;
}
#close{
    margin-top: 1rem;
    display: none;

}
.tableBody{
    margin-top: 2rem;
    height: 475px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tableBody::-webkit-scrollbar{
    -webkit-appearance: none;
}

.tableBody::-webkit-scrollbar:vertical{
    width: 2px;
}

.tableBody::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 20px;
}


.add a{
    font-size: 13px;
    margin-top: 1rem;
    background-color: transparent;
    border: 2px dashed #7380ec;
    color: #7380ec;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 200px;
    padding: 0.5rem ;
    border-radius: 2.2rem   ;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
    cursor: pointer;
    display: none;
}
.add a span{
    font-size: 18px;
}

/* responsive */
@media screen and (max-width: 870px){
    .form{
        margin-top: 0rem;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    position:fixed ;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    }
    .show{
        opacity: 1;
        pointer-events: auto;
    }
    .form1{
        background: white;
        height: 380px;
    }
    #close{
        display: block;
    }
    .tabla{
        width: 100%;
        }
        .tableBody{
            margin-top: 2rem;
        }
        .add a{
            display: block;
        }
}